*{
    font-family: monospace;
    font-size: 16px;
}

body{
    background-color: rgb(171, 106, 231);
}

main{
    align-content: center;
    background-color: rgba(255, 255, 255, 0.822);
    width: 800px;
    margin: auto;
    padding: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.185);
    border-radius: 3%;
}

img.lado{
    float: right;
  

}

a:hover{
    text-decoration: underline;
    color: blue(26, 26, 255);
}

h1{
    font-size: 1cm;
    color: blue(58,0, 112);
}

h2{
    color: blue(58,0,112);
}
